<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {{! <link rel="stylesheet" href="/stylesheets/reset.css" /> }}
        <link rel="stylesheet" href="/stylesheets/signin.css" />
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/Admin/create" method="post">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i
                                class="fab fa-facebook-f"
                            ></i></a>
                        <a href="#" class="social"><i
                                class="fab fa-google-plus-g"
                            ></i></a>
                        <a href="#" class="social"><i
                                class="fab fa-linkedin-in"
                            ></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" name="name" />
                    <input type="text" placeholder="Password" name="password" />
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/Admin/create" method="post">
                    <h1>Sign Up</h1>
                    <input type="text" name="role" value="customer" hidden />
                    <input type="email" placeholder="Email" name="name" />
                    <input
                        type="password"
                        placeholder="Password"
                        name="password"
                    />
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>If you have a Account</p>
                        <a href="/Admin/signin" class="ghost" id="signUp">Sign
                            in</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>